<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:icon="@drawable/placeholder_cocktail"
        android:label="@string/app_name"
        android:roundIcon="@drawable/placeholder_cocktail"
        android:supportsRtl="true"
        android:theme="@style/Theme.CocktailTiles">
        <activity
            android:name="com.example.cocktails.MainActivity"
            android:exported="true"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
